.blog {

  &__mw580 {
    max-width: 580px;
  }

  &__mw840 {
    max-width: 840px;
  }

  &__mw750 {
    max-width: 750px;
  }

  &__mw900 {
    max-width: 900px;
  }

  &__pb0 {
    padding-bottom: 0;
  }

  &__header {
    background-color: $black;

    &List {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &Item {
      color: $white;
      padding: 14px 14px 15px;
      font-size: 21px;
      font-weight: 800;
      line-height: 26.84px;

      &.active {
        text-decoration: underline;
      }
    }
  }

  &__title {
    font-size: 80px;
    font-weight: 800;
    line-height: 89px;

  }

  &__subTitle {
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;

  }

  &__text {
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;

  }

  &__block1 {
    overflow: hidden;
    position: relative;
    padding-bottom: 238px;

    &Title {
      margin-bottom: 34px;
    }

    &Img {
      position: absolute;
      top: -650px;
      left: 0;
      z-index: 3;

      width: 586px;
      height: 879px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &Top {
      display: flex;
      justify-content: flex-end;

      &Blue {
        flex: 0 0 65%;
        padding: 74px 0 12px 166px;
        background-color: $blue;
        position: relative;
        z-index: 2;
      }
    }


    &Bottom {
      display: flex;
      justify-content: flex-end;
      background-color: $sky-blue;
      margin-top: -100px;
      position: relative;
      z-index: 1;

      &Sky {
        padding: 118px 0 66px 166px;

        flex: 0 0 65%;
      }
    }


  }

  &__block2 {
    overflow: hidden;
    padding: 150px 0 365px;

    &SubTitle {
      margin-bottom: 30px;
    }

    &Sky {
      margin-top: 6px;
      padding: 34px 0 90px;
      background-color: $sky-blue;
    }

    &Img {
      position: absolute;
      top: -840px;
      right: -200px;
      z-index: 3;

      width: 815px;
      height: 1222px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }

  &__block3 {

    position: relative;
    padding: 220px 0 210px;
    display: flex;
    justify-content: flex-end;

    &SubTitle {
      margin-top: 34px;
      margin-bottom: 30px;
    }

    &Content {
      flex: 0 0 50%;
    }

    &Img {
      position: absolute;
      top: -365px;
      left: -209px;
      z-index: 4;

      width: 815px;
      height: 1222px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }

  &__block4 {

    position: relative;
    padding: 0 0 205px;
    display: flex;
    justify-content: flex-end;

    &Content {
      flex: 0 0 870px;
    }

    &SubTitle {
      margin-top: 34px;
      margin-bottom: 178px;
    }

    &Text {
      padding-left: 326px;
    }

    &Img {
      position: absolute;
      top: -40px;
      left: -209px;
      z-index: 4;

      width: 650px;
      height: 970px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &Img2 {
      position: absolute;
      bottom: 235px;
      left: 200px;
      z-index: 5;

      width: 635px;
      height: 950px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }

  &OurStory {
    &__head {
      margin-top: 100px;
      text-align: center;

      &SubTitle {
        margin: 28px 0 32px;
      }
    }

    &__title {
      font-size: 42.69px;
      font-weight: 800;
      line-height: 54.56px;
      margin-bottom: 60px;
    }

    &__block1 {
      margin-top: 160px;

      &Sky {
        background-color: $sky-blue;
        padding: 90px 0 90px;
        min-height: 650px;
      }

      &Content {

        display: flex;
        justify-content: flex-end;


      }

      &Img {
        position: absolute;
        top: -792px;
        left: -220px;
        z-index: 3;

        width: 781px;
        height: 792px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &__block2 {
      overflow: hidden;

      &Blue {
        background-color: $blue;
        padding: 170px 0 90px;
        min-height: 735px;
      }

      &Img {
        position: absolute;
        top: -735px;
        right: -200px;
        z-index: 3;

        width: 726px;
        height: 735px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &__block3 {


      &Wrapper {
        background-color: #FB9940;
      }

      &Content {
        padding: 90px 0 90px;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        min-height: 1303px;

        &Button {
          margin-top: 150px;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }

      &Img {
        position: absolute;
        top: -1303px;
        left: -220px;
        z-index: 3;

        width: 868px;
        height: 1303px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &__block4 {
      overflow: hidden;

      &Wrapper {
        padding: 140px 0 90px;
        min-height: 775px;
      }

      &Link {
        margin-top: 66px;
        font-size: 28.46px;
        font-weight: 800;
        line-height: 36.37px;

      }

      &Img {
        position: absolute;
        top: -775px;
        right: -200px;
        z-index: 3;

        width: 764px;
        height: 775px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &Consult {


    &__form {
      margin-top: 150px;

      &Wrapper {
        background-color: $sky-blue;
        padding: 48px 0 75px;
      }

      &Content {
        max-width: 1200px;
        margin: 0 auto;
      }

      &Title {
        font-size: 50px;
        font-weight: 800;
        line-height: 63.9px;
        text-align: center;

      }

      &SubTitle {
        font-size: 30px;
        font-weight: 800;
        line-height: 38.34px;
        text-align: center;
        margin: 65px 0 40px;
      }

      &Input {

        input, textarea {
          width: 100%;
          background-color: $bg-grey;
          padding: 20px 20px 20px 36px;
          border-radius: 10px;
          font-size: 24px;
          font-weight: 600;
          line-height: 30.67px;
        }

        textarea {
          height: 366px;
          padding: 45px 20px 20px 33px;
        }

        input::placeholder, textarea::placeholder {
          font-size: 24px;
          font-weight: 600;
          line-height: 30.67px;
          color: $text-grey;
        }

      }

      &Btn {
        margin-top: 75px;
        display: flex;
        justify-content: center;

        button {
          background-color: $blue;
          color: $black;
          padding: 15px 64px;
          border-radius: 5px;
          font-size: 20px;
          font-weight: 800;
          line-height: 25.56px;
        }

      }

      &Grid {

        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 40px;
        row-gap: 40px;
      }

      &Col1 {
        grid-column: span 1 / span 1;
      }

      &Col2 {
        grid-column: span 2 / span 2;
      }
    }

    &__block2 {
      &Wrapper {
        background-color: $white;
        padding-top: 98px;
        min-height: 1198px;
      }

      &Title {
        max-width: 981px;
        font-size: 52.69px;
        font-weight: 800;
        line-height: 67.34px;

        margin-bottom: 130px;
      }

      &Content {
        display: flex;
        justify-content: flex-end;

        &Text {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }

      &Img {
        position: absolute;
        top: -1098px;
        left: 50px;
        z-index: 3;

        width: 450px;
        height: 1098px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &__block3 {

      &Title {
        font-size: 42.69px;
        font-weight: 800;
        line-height: 54.56px;

      }

      &Wrapper {
        background-color: $white;
        padding: 280px 0 240px;
      }

      &Img {
        position: absolute;
        top: -736px;
        right: -200px;
        z-index: 3;

        width: 674px;
        height: 736px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (min-width: 2150px) {
  .blog {
    &__block1 {
      &Img {
        left: -220px;
      }
    }
  }
}

@media (max-width: $md1 + px) {
  .blog {

    &__title {
      font-size: 70px;
      line-height: 79px;
    }

    &__subTitle {
      font-size: 25px;
      line-height: 36px;

    }

    &__text {
      font-size: 25px;
      line-height: 36px;

    }

    &__block1 {
      &Img {
        left: -149px;
        width: 486px;
        height: 779px;
      }

      &Top {
        &Blue {
          padding: 74px 0 12px 100px;
        }
      }

      &Bottom {
        &Sky {
          padding: 118px 0 66px 100px;
        }
      }
    }

    &__block2 {
      padding: 0 0 365px;

      &Img {
        top: -690px;
        right: -500px;
        width: 615px;
        height: 922px;
      }
    }

    &__block3 {
      padding: 0 0 210px;

      &Content {
        flex: 0 0 70%;
      }

      &Img {
        top: -365px;
        left: -400px;

        width: 615px;
        height: 950px;

        img {
          object-fit: contain;
        }
      }
    }

    &__block4 {

      padding: 0 0 205px;
      display: flex;
      justify-content: flex-end;

      &Content {
        flex: 0 0 870px;
      }

      &SubTitle {
        margin-top: 34px;
        margin-bottom: 110px;
      }

      &Text {
        padding-left: 326px;
      }

      &Img {
        position: absolute;
        top: -40px;
        left: -500px;
        z-index: 4;

        width: 550px;
        height: 770px;


      }

      &Img2 {
        position: absolute;
        bottom: 170px;
        left: -150px;
        z-index: 5;

        width: 535px;
        height: 750px;


      }

    }

    &OurStory {

      &__block1 {
        margin-top: 100px;

        &Content {
          .blog__mw750 {
            max-width: 500px;
          }

          .blog__mw900 {
            max-width: 600px;
          }
        }

        &Img {
          left: -230px;

          width: 581px;
          height: 592px;
        }
      }

      &__block2 {

        &Blue {
          .blog__mw840 {
            max-width: 600px;
          }
        }

        &Img {
          top: -635px;
          width: 526px;
          height: 535px;
        }
      }

      &__block3 {
        &Content {
          .blog__mw750 {
            max-width: 500px;
          }

        }

        &Img {
          width: 668px;
          height: 1003px;
        }
      }

      &__block4 {
        &Wrapper {
          padding: 90px 0 90px;
        }

        .blog__mw840 {
          max-width: 600px;
        }

        &Img {
          top: -675px;
          right: -200px;

          width: 564px;
          height: 575px;
        }
      }
    }

    &Consult {


      &__form {
        margin-top: 100px;

        &Wrapper {
          background-color: $sky-blue;
          padding: 48px 0 75px;
        }

        &Content {
          max-width: 1200px;
          margin: 0 auto;
        }

        &Title {
          font-size: 50px;
          font-weight: 800;
          line-height: 63.9px;
          text-align: center;

        }

        &SubTitle {
          font-size: 30px;
          font-weight: 800;
          line-height: 38.34px;
          text-align: center;
          margin: 65px 0 40px;
        }

        &Input {

          input, textarea {
            width: 100%;
            background-color: $bg-grey;
            padding: 20px 20px 20px 36px;
            border-radius: 10px;
            font-size: 24px;
            font-weight: 600;
            line-height: 30.67px;
          }

          textarea {
            height: 366px;
            padding: 45px 20px 20px 33px;
          }

          input::placeholder, textarea::placeholder {
            font-size: 24px;
            font-weight: 600;
            line-height: 30.67px;
            color: $text-grey;
          }

        }

        &Btn {
          display: flex;
          justify-content: center;

          button {
            background-color: $blue;
            color: $black;
            padding: 15px 64px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 800;
            line-height: 25.56px;
          }

        }

        &Grid {

          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          column-gap: 40px;
          row-gap: 40px;
        }

        &Col1 {
          grid-column: span 1 / span 1;
        }

        &Col2 {
          grid-column: span 2 / span 2;
        }
      }

      &__block2 {
        &Wrapper {
          min-height: 998px;
        }

        &Title {
          max-width: 700px;
          font-size: 40px;
          line-height: 55px;

          margin-bottom: 100px;
        }

        &Content {
          .blog__mw750 {
            max-width: 700px;
          }
        }

        &Img {
          top: -898px;
          left: -150px;

          width: 400px;
          height: 898px;

        }
      }

      &__block3 {
        overflow: hidden;

        &Wrapper {
          .blog__mw750 {
            max-width: 600px;
          }

          .blog__mw900 {
            max-width: 700px;
          }
        }

        &Img {
          width: 474px;
          height: 536px;

        }
      }
    }
  }
}

@media (max-width: $md2 + px) {
  .blog {
    &__header {

      &Item {
        padding: 13px 14px 12px;
        font-size: 16px;
        line-height: 20px;

      }
    }

    &__title {
      font-size: 40px;
      line-height: 44px;
    }

    &__subTitle {
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      font-size: 17px;
      line-height: 21px;
    }

    &__block1 {
      padding-bottom: 300px;

      &Title {
        margin-bottom: 18px;
      }


      &Img {
        top: -60px;
        left: 50%;
        margin-left: -165px;

        width: 330px;
        height: 336px;

        img {
          object-fit: cover;
        }
      }

      &Top {
        justify-content: center;

        &Blue {
          flex: 0 0 100%;
          padding: 28px 24px 40px 24px;
        }
      }

      &Bottom {
        justify-content: center;

        &Sky {
          padding: 118px 24px 112px 24px;
          flex: 0 0 100%;
        }
      }
    }

    &__block2 {
      padding: 30px 0 380px;

      &Title {
        padding: 0 12px;
      }

      &SubTitle {
        margin-bottom: 6px;
      }

      &Sky {
        margin-top: 6px;
        padding: 20px 12px 80px;
      }

      &Img {
        top: -50px;
        right: 50%;
        margin-right: -155px;
        z-index: 3;

        width: 310px;
        height: 400px;

        img {
          object-fit: cover;
        }
      }

    }

    &__block3 {
      padding: 0 0 485px;
      justify-content: flex-start;

      &SubTitle {
        margin-top: 19px;
        margin-bottom: 19px;
      }

      &Content {
        padding: 0 12px;
        flex: 0 0 100%;
      }

      &Img {
        top: initial;
        bottom: 0;
        left: 50%;
        margin-left: -150px;

        width: 300px;
        height: 450px;

        img {
          object-fit: contain;
        }
      }

    }

    &__block4 {

      padding: 98px 0 950px;
      display: flex;
      justify-content: flex-start;

      &Content {
        flex: 0 0 100%;
        padding: 0 12px;
      }

      &SubTitle {
        margin-top: 19px;
        margin-bottom: 19px;
      }

      &Text {
        padding-left: 0;
      }

      &Img {
        position: absolute;
        top: initial;
        bottom: 460px;
        left: 50%;
        margin-left: -160px;
        z-index: 4;

        width: 300px;
        height: 440px;


      }

      &Img2 {
        position: absolute;
        bottom: 150px;
        left: 50%;
        margin-left: -115px;
        z-index: 5;

        width: 275px;
        height: 410px;


      }

    }

    &OurStory {
      &__head {
        margin-top: 29px;

        &SubTitle {
          margin: 5px 0 11px;
        }


        .blog__subTitle {
          font-size: 18px;
          line-height: 23px;
        }

        .blog__text {
          font-size: 14px;
          line-height: 17px;
        }

      }

      &__title {
        font-size: 18px;
        line-height: 23px;

        margin-bottom: 30px;
      }

      &__block1 {
        margin-top: 27px;
        overflow: hidden;

        &Sky {
          padding: 17px 0 410px;
          min-height: auto;
        }

        &Content {
          display: flex;
          justify-content: center;

        }

        &Img {
          top: -384px;
          left: 50%;
          margin-left: -190px;

          width: 390px;
          height: 384px;

        }
      }

      &__block2 {
        overflow: hidden;

        &Blue {
          background-color: $blue;
          padding: 29px 0 420px;
          min-height: auto;
        }

        &Content {
          display: flex;
          justify-content: center;
        }

        &Img {
          top: -395px;
          right: 50%;
          margin-right: -190px;

          width: 390px;
          height: 395px;

        }
      }

      &__block3 {
        overflow: hidden;

        &Wrapper {
          background-color: #FB9940;
        }

        &Content {
          padding: 60px 0 570px;
          justify-content: center;
          min-height: auto;

          &Button {
            margin-top: 0;
            flex-direction: column;
            gap: 0;
          }
        }

        &Img {
          top: -537px;
          left: 50%;
          margin-left: -202.5px;

          width: 405px;
          height: 537px;

          img {
            object-fit: cover;
          }
        }
      }

      &__block4 {
        overflow: hidden;

        &Wrapper {
          padding: 100px 0 470px;
          min-height: auto;
        }

        &Link {
          margin-top: 30px;
          font-size: 17px;
          line-height: 23px;

        }

        &Img {
          position: absolute;
          top: -405px;
          right: 50%;
          margin-right: -200px;

          width: 400px;
          height: 405px;

        }
      }
    }

    &Consult {


      &__form {
        margin-top: 27px;

        &Wrapper {
          padding: 17px 0 75px;
        }

        &Title {
          font-size: 18px;
          line-height: 23px;

        }

        &SubTitle {
          font-size: 16px;
          line-height: 20px;
          margin: 50px 0 20px;
        }

        &Input {

          input, textarea {
            padding: 10.5px;
            border-radius: 5px;
            font-size: 13px;
            line-height: 16px;
          }

          textarea {
            height: 200px;
            padding: 23px 10px 10px 10px;
          }

          input::placeholder, textarea::placeholder {
            font-size: 13px;
            line-height: 16px;
          }

        }

        &Btn {
          margin-top: 32px;

        }

        &Grid {
          column-gap: 12px;
          row-gap: 20px;
        }

      }

      &__block2 {
        &Wrapper {
          padding-top: 48px;
          min-height: auto;
          padding-bottom: 635px;
        }

        &Title {
          font-size: 20px;
          line-height: 25px;

          margin-bottom: 28px;
        }

        &Content {
          justify-content: flex-start;

          &Text {
            gap: 0;
          }
        }

        &Img {
          top: -600px;
          left: 50%;
          margin-left: -123px;

          width: 246px;
          height: 600px;

        }
      }

      &__block3 {

        &Title {
          font-size: 20px;
          line-height: 25px;

        }

        &Wrapper {
          background-color: $white;
          padding: 46px 0 475px;
        }

        &Img {
          position: absolute;
          top: -452px;
          right: 50%;
          margin-right: -207px;

          width: 414px;
          height: 452px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}

@media (max-width: $md3 + px) {

}

@media (max-width: 374px) {
  .blog {
    &__block1 {
      &Img {
        margin-left: -150px;
        width: 300px;
      }
    }
  }
}