.header {
  position: relative;
  z-index: 10;


  &__top {
    height: 40px;
    margin: 0 auto;
    background-color: #0E6232;

    display: flex;
    align-items: center;
    overflow: hidden;

    &Item {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 8px;
      color: $white;
      font-size: 12px;

    }
  }

  &__wrapper {
    background-color: $white;
  }

  &__container {
    max-width: 1790px;
    margin: 0 auto;
  }

  &__nav {
    width: 550px;
    display: flex;
    align-items: center;
    gap: 45px;

    &Wrapper {
      height: 110px;
    }

    &Item {
      font-size: 21px;
      font-weight: 800;
      line-height: 27px;
    }
  }

  &__navLeft {
    width: 550px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;

    &Item {
      font-size: 21px;
      font-weight: 600;
      line-height: 27px;

      a {
        border-radius: 4px;
        padding: 4px 15px;
      }

      &Select {
        position: relative;

        &:before, &:after {
          width: 8px;
          height: 2px;
          content: "";
          background-color: $black;
          position: absolute;
          pointer-events: none;
          top: 17px;
        }

        &:before {
          transform: rotate(45deg);
          right: 6px;
        }

        &:after {
          transform: rotate(-45deg);
          right: 1px;
        }

        select {
          width: 100%;
          appearance: none;
          padding: 5px 15px 5px 5px;
          background: inherit;
          border: none;
          border-radius: 5px;
          font-family: $fontFamilyInter;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
        }


      }
      &SelectColorWhite{
        select{
          color: $white;
          option{
            color: $black;
          }
        }
        &:before, &:after{
          background-color:$white;
        }
      }
    }

    &ShoppingCart {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      background-color: $yellow;
    }
  }

}

@media (max-width: $md1 + px) {
  .header {
    &__nav {
      gap: 35px;
    }
  }
}

@media (max-width: $md2 + px) {
  .header {
    &__container {
      max-width: none;
      //margin: 0 auto;
    }

    &__nav, &__navLeft {
      display: none;
    }

    &__nav {
      &Wrapper {
        height: auto;
        padding: 18px 34px;
      }

      &Logo {
        width: 34px;
        height: 34px;

        img {
          width: 100%;
          height: 100%;

        }
      }
    }


  }
}

@media (max-width: $md3 + px) {
}


.icon-menu-burger {
  display: none;
  @media (max-width: $md2+px) {
    display: block;
    position: absolute;
    top: 70px;
    right: 17px;
    width: 18px;
    height: 12px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
      //border-radius: 2px;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &.active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}