.home {
  &__main {
    position: relative;
    z-index: 9;
    margin-top: -110px;
    height: 930px;
    display: flex;

    &Content {
      padding-top: 50px;
      max-width: 587px;
      height: 466px;

      &Wrapper {
        position: relative;
        z-index: 10;
        max-width: 1530px;
        margin: -466px auto 0;
      }

      &Title {
        font-size: 50px;
        font-weight: 700;
        line-height: 64px;
      }

      &Text {
        margin-top: 11px;
        margin-bottom: 22px;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }

  &__bgBottle {
    height: 623px;
    overflow: hidden;

    position: absolute;
    margin-left: -86px;
    top: 237px;
    left: 50%;
    z-index: 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bgText {
    height: 256px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &Wrapper {
      overflow: hidden;
      width: 100%;
      position: absolute;
      top: 170px;
      right: 0;
      z-index: 9;
    }
  }

  &__bgGrey {
    flex-basis: 50%;
    background-color: $bg-grey;
    display: flex;
    flex-direction: column;

    &BlockSky {
      background-color: $sky-blue;
      flex-basis: 50%;
    }
  }

  &__bgBlue {
    position: relative;
    flex-basis: 50%;
    background-color: $blue;

    display: flex;
    justify-content: center;
    align-items: end;

    &Img {
      height: 749px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }

  &Shop {
    padding-top: 170px;
    position: relative;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;

    &__nav {
      height: 264px;
      position: absolute;
      top: 50%;
      right: -110px;
      z-index: 10;

      &Item {
        width: 102px;
        padding: 10px 0;
        background-color: $white;
        color: $green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 16px;
        font-weight: 600;
        line-height: 20px;


        &Detox,
        &Morning,
        &Shop {
          width: 52px;
          height: 52px;
        }

        &Detox {
          background-image: url("../../img/home-page/icon_programdetox_green.svg");
        }

        &Morning {
          background-image: url("../../img/home-page/icon_morning_green.svg");
        }

        &Shop {
          background-image: url("../../img/home-page/icon_shop_green.svg");
        }

        &:hover,
        &.active {
          background-color: $green;
          color: $white;

          .homeShop__navItemDetox {
            background-image: url("../../img/home-page/icon_programdetox.svg");
          }

          .homeShop__navItemShop {
            background-image: url("../../img/home-page/icon_shop.svg");

          }

          .homeShop__navItemMorning {
            background-image: url("../../img/home-page/icon_morning.svg");
          }
        }
      }
    }

    &__card {
      position: relative;
      z-index: 10;
      padding: 0 30px 30px;
      border-radius: 5px;
      overflow: hidden;

      &HoverAnimate {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $green;
        border-radius: 5px;
        transition: 0.3s;
        transform: translateY(+101%);
        z-index: -1;

        &Block {
          padding: 0 30px 30px;
          color: $white;

          &List {
            margin-top: 66px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
              display: flex;
              align-items: center;
              gap: 20px;
              font-size: 20px;
              font-weight: 600;
              line-height: 26px;

            }
          }
        }

      }

      &:hover {
        .homeShop__cardHoverAnimate {
          transform: translateY(0);
        }

        .homeShop__cardImg {
          border-bottom: 2px solid $white;

          img {
            opacity: 0;
          }
        }

        .homeShop__cardTitle {
          color: $white;
        }

        .homeShop__cardText {
          color: $white;
        }

        .homeShop__cardTabs {
          opacity: 1;
          z-index: 11;
        }

      }

      &Img {
        height: 447px;
        display: flex;
        justify-content: center;

        img {
          object-fit: cover;
        }
      }

      &Title {
        margin-top: 26px;
        font-size: 30px;
        font-weight: 800;
        line-height: 38px;
      }


      &Text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 13px;
        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
      }

      &Tabs {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        opacity: 0;
        z-index: -1;
      }

      &Buttons {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &Wrapper {
        position: relative;
        width: 480px;

        &White {
          background-color: $white;
          position: absolute;
          top: 27%;
          left: 0;
          border-radius: 5px;
          width: 100%;
          height: 73%;
        }
      }
    }
  }

  &__orderNow {
    display: flex;
    justify-content: end;

    &Wrapper {
      position: relative;
      z-index: 8;
      margin-top: -300px;
      padding-top: 420px;
      padding-bottom: 650px;
      background-color: $sky-blue;
    }

    &Content {
      max-width: 587px;
      position: relative;
      z-index: 13;

      &Text {
        font-size: 30px;
        font-weight: 500;
        line-height: 38px;

      }

      &Title {
        margin-top: 30px;
        font-size: 80px;
        font-weight: 800;
        line-height: 102px;

      }

      &List {
        display: flex;
        flex-direction: column;
        gap: 8px;

        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;

        li {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }

      &SubTitle {
        margin-top: 75px;
        margin-bottom: 26px;
        font-size: 20px;
        font-weight: 800;
        line-height: 26px;
      }
    }

    &Cucumber {
      position: relative;
      z-index: 8;

      &Water, &Bottle, &C1, &C2, &C3, &C4, &C5, &C9 {
        z-index: 9;
        position: absolute;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &Water {
        z-index: 12;
        top: -30px;
        left: 50%;
        margin-left: -500px;
      }

      &Bottle {
        z-index: 10;
        top: -100px;
        left: 50%;
        margin-left: -700px;
      }

      &C1 {
        top: -40px;
        left: 50%;
        margin-left: -650px;
      }

      &C2 {
        z-index: 11;
        top: 600px;
        left: 50%;
        margin-left: -460px;
      }

      &C3 {
        z-index: 11;
        top: 640px;
        left: 50%;
        margin-left: -350px;
      }

      &C4 {
        z-index: 11;
        top: 870px;
        left: 50%;
        margin-left: -430px;
      }

      &C5 {
        z-index: 11;
        top: 770px;
        left: 50%;
        margin-left: -700px;
      }

      &C9 {
        top: 444px;
        left: 50%;
        margin-left: -300px;
      }
    }

  }

  &__productsSale {
    position: relative;
    z-index: 8;
    margin-top: -397px;
  }


  &__tryNow {

    position: relative;
    z-index: 10;

    &Wrapper {
      padding: 290px 0 315px;
    }

    &Content {
      max-width: 1360px;
      position: relative;
      z-index: 12;
    }

    &Title {
      font-size: 100px;
      font-weight: 800;
      line-height: 128px;

    }

    &SubTitle {
      max-width: 850px;
      margin-top: 32px;
      font-size: 30px;
      font-weight: 800;
      line-height: 38px;

    }

    &Text {
      max-width: 850px;
      margin-top: 32px;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
    }

    &Btn {
      margin-top: 32px;
    }

    &BgAbsolute {
      &Left {
        &Water, &IceBig, &IceLittle {
          z-index: 9;
          position: absolute;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &Water {
          bottom: -534px;
          left: -460px;
        }

        &IceBig {
          bottom: -260px;
          left: -160px;
        }

        &IceLittle {
          bottom: -310px;
          left: -100px;
        }
      }

      &RightLeft {
        &Water, &IceBig, &IceLittle {
          z-index: 10;
          position: absolute;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &Water {
          bottom: -385px;
          right: 10px;
          z-index: 8;
        }

        &IceBig {
          bottom: -285px;
          right: 225px;
        }

        &IceLittle {
          bottom: -330px;
          right: 220px;
        }
      }

      &Right {
        &Bottel, &Water, &IceBig, &IceLittle, &IceMiddleTop, &IceMiddleBottom1, &IceMiddleBottom2 {
          z-index: 9;
          position: absolute;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &Bottel {
          bottom: -240px;
          right: 10px;
        }

        &IceMiddleTop {
          transform: rotate(-40deg);
          top: -130px;
          right: -65px;
          z-index: 8;
        }

        &Water {
          z-index: 10;
          top: -170px;
          right: -170px;
        }

        &IceBig {
          transform: rotate(-15deg);
          top: -240px;
          right: 140px;
          z-index: 8;
        }

        &IceLittle {
          transform: rotate(-25deg);
          top: -295px;
          right: 160px;
          z-index: 8;
        }

        &IceMiddleBottom1 {
          bottom: -340px;
          right: 0;
        }

        &IceMiddleBottom2 {
          bottom: -335px;
          right: -115px;
          z-index: 9;
        }
      }
    }

  }


  &__fan {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: auto;
    //&::-webkit-scrollbar {
    //  width: 6px;               /* ширина всей полосы прокрутки */
    //}
    //
    //&::-webkit-scrollbar-track {
    //  background: $bg-grey;        /* цвет зоны отслеживания */
    //}
    //
    //&::-webkit-scrollbar-thumb {
    //  background-color: $white;    /* цвет бегунка */
    //  border-radius: 10px;       /* округлось бегунка */
    //  border: 3px solid $sky-blue;  /* отступ вокруг бегунка */
    //}

    &Wrapper {
      position: relative;
      z-index: 12;

    }

    &Title {
      margin-bottom: 36px;
      font-size: 50px;
      font-weight: 800;
      line-height: 64px;

    }

    &Content {
      display: flex;
    }

    &Item {
      width: 640px;
      height: 850px;
      padding: 0 55px 55px 55px;
      font-size: 30px;
      line-height: 36px;

      position: relative;
      z-index: 11;

      &BgAbsolute {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $sky-blue;
        width: 100%;
        height: 79%;
      }

      &.first {
        color: $green;
      }

      &.active {
        color: $white;

        .home__fanItemBgAbsolute {
          background-color: $blue;
        }
      }

      &Img {
        width: 550px;
        height: 560px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }


      &Text {
        margin-top: 60px;

        font-weight: 800;
        font-size: 30px;
        line-height: 38px;
      }

      &TextSmall {
        margin-top: 40px;

        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
      }

    }
  }

  &__consultation {
    position: relative;
    z-index: 10;
    padding-top: 460px;
    padding-bottom: 340px;

    &Wrapper {
      background-color: $sky-blue;
    }

    &BgImg {
      position: absolute;
      bottom: 0;
      left: -200px;
    }

    &Content {

      display: flex;
      justify-content: end;
    }

    &Item {
      z-index: 11;
      max-width: 710px;
      padding: 5px;


      &Text {
        margin-top: 20px;
        margin-bottom: 40px;

        font-size: 20px;
        font-weight: 600;
        line-height: 26px;

      }

      &Btn {
        display: flex;
        justify-content: start;
      }


    }
  }

  @media (max-width: 1919px) {
    &Shop {
      &__nav {
        width: 306px;
        height: 92px;
        top: 30px;
        right: 50%;
        margin-right: -153px;

        &List {
          display: flex;
          justify-content: center;
        }

        &Item {
          &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 0;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 0;
          }
        }
      }
    }

    &__tryNow {
      max-width: 1300px;

      &Content {
        max-width: 1024px;
        position: relative;
        z-index: 12;
      }

      &Title {
        font-size: 80px;
        line-height: 100px;

      }

      &SubTitle {
        font-size: 28px;
        line-height: 34px;

      }

      &BgAbsolute {
        &Left {
          display: none;

          &Water, &IceBig, &IceLittle {
            img {
              width: 90%;
            }
          }
        }

        &RightLeft {
          &Water, &IceBig, &IceLittle {
            img {
              width: 90%;
            }
          }
        }

        &Right {
          &Bottel, &Water, &IceBig, &IceLittle, &IceMiddleTop, &IceMiddleBottom1, &IceMiddleBottom2 {
            img {
              width: 90%;
            }
          }
        }
      }

    }
    &__consultation {
      padding-top: 110px;
      padding-bottom: 460px;

      &BgImg {
        overflow: hidden;
        height: 600px;
        position: absolute;

        left: 50%;
        margin-left: -260px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &Content {
        justify-content: center;
      }

      &Item {
        &Text {
          margin-top: 10px;
          margin-bottom: 20px;
        }

        &Btn {
          justify-content: center;
        }

      }
    }
  }

  @media (max-width: $md1 + px) {
    //max-width: 985px;
    &Shop {
      gap: 15px;

      &__card {
        &Wrapper {
          position: relative;
          width: 470px;
        }

      }
    }

    &__orderNow {
      &Cucumber {

        &Water, &Bottle, &C1, &C2, &C3, &C4, &C5, &C9 {

          img {
            width: 80%;
          }
        }


      }
    }

    &__tryNow {
      max-width: 960px;

      &Content {
        max-width: 960px;
      }

      &Title {
        font-size: 80px;
        line-height: 100px;

      }

      &SubTitle {
        font-size: 28px;
        line-height: 34px;

      }

      &BgAbsolute {
        &Left {
          display: none;


        }

        &Right {
          &Water, &IceMiddleBottom2, &IceMiddleTop {
            display: none;
          }
        }
      }

    }
    &__fan {
      &Item {
        width: 380px;
        height: 496px;
        padding: 0 30px 30px 30px;


        &Img {
          width: 318px;
          height: 322px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }


        &Text {
          margin-top: 35px;

          font-size: 17px;
          line-height: 22px;

        }

        &TextSmall {
          margin-top: 20px;

          font-size: 12px;
          line-height: 15px;
        }

      }
    }
    &__consultationItemText {
      font-size: 11px;
      line-height: 15px;
    }
  }

  @media (max-width: $md2 + px) {
    //max-width: 750px;
    &__main {
      height: 558px;

      &Content {
        max-width: none;
        height: auto;

        &Wrapper {
          margin: 0 auto;
          padding: 0 12px;
        }

        &Title {
          text-align: center;
        }

        &Text {
          margin-top: 14px;
          margin-bottom: 32px;
          text-align: center;
        }

        &Btn {
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            padding: 11px 22px;
            font-size: 15px;
            line-height: 19px;
          }
        }
      }
    }
    &__bgText {
      height: 129px;
    }
    &__bgBottle {
      height: 356px;
      margin-left: -150px;
      top: 232px;
    }

    &__bgBlue {
      flex-basis: 75%;

      &Img {
        height: 397px;
      }
    }

    &__bgGrey {
      flex-basis: 25%;
      background-color: $sky-blue;
    }


    &Shop {
      padding-top: 140px;
      justify-content: center;
      gap: 8px;

      &__nav {
        width: 184px;
        height: 60px;
        margin-right: -92px;

        &Item {
          width: 60px;
          padding: 10px 0;
          font-size: 10px;
          line-height: 12px;

          &Detox,
          &Morning,
          &Shop {
            width: 32px;
            height: 32px;
            background-size: contain;
          }
        }
      }

      &__card {

        padding: 0 8px 8px;


        &HoverAnimate {


          &Block {
            padding: 0 8px 8px;


            &List {
              margin-top: 20px;
              gap: 4px;

              li {
                gap: 10px;
                font-size: 8px;
                line-height: 10px;
              }
            }
          }

        }


        &Img {
          height: 167px;

        }

        &Title {
          margin-top: 10px;
          font-size: 12px;
          line-height: 16px;
        }


        &Text {

          margin-top: 3px;
          font-size: 12px;
          line-height: 14px;
        }

        &Tabs {
          display: none;

        }

        &Buttons {

          button {
            font-size: 7px;
            font-weight: 800;
            line-height: 10px;
            padding: 5.5px 10px;
          }
        }

        &Wrapper {
          width: 176px;

        }
      }
    }

    &__orderNow {
      display: flex;
      justify-content: start;

      &Wrapper {
        margin-top: -100px;
        padding-top: 200px;
        padding-bottom: 530px;
      }

      &Content {
        max-width: none;
        padding: 0 5px;

        &Text {
          font-size: 14px;
          line-height: 18px;

        }

        &Title {
          margin-top: 10px;
          font-size: 48px;
          line-height: 61px;
        }

        &List {
          gap: 5px;

          margin-top: 30px;
          font-size: 12px;
          line-height: 16px;

          li {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 17px;
              height: 17px;
            }
          }
        }

        &SubTitle {
          margin-top: 32px;
          margin-bottom: 26px;
          font-size: 12px;
          line-height: 16px;
        }

        &Btn {
          button {
            padding: 9px 18px;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }

      &Cucumber {
        //position: relative;
        //z-index: 8;

        &Water, &Bottle, &C1, &C2, &C3, &C4, &C5, &C9 {
          //z-index: 9;
          //position: absolute;

          img {
            width: 100%;
            //height: 100%;
            //object-fit: cover;
          }
        }

        &Water {
          height: 456px;
          z-index: 12;
          top: 170px;
          left: 50%;
          margin-left: -75px;
        }

        &Bottle {
          height: 413px;
          z-index: 10;
          top: 185px;
          left: 50%;
          margin-left: 0;
        }

        &C1 {
          height: 240px;
          top: 260px;
          left: 50%;
          margin-left: 0;

          img {
            object-fit: contain;
          }
        }

        &C2, &C3, &C4, &C5 {
          display: none;
        }

        &C9 {
          height: 72px;
          top: 444px;
          left: 50%;
          margin-left: 0;
        }
      }
    }

    &__productsSale {
      margin-top: -297px;

      &__Title {
        display: none;
      }
    }

    &__tryNow {
      max-width: 725px;

      &Content {
        max-width: 725px;
      }

      &BgAbsolute {

        &Left {
          display: block;

          &Water, &IceBig, &IceLittle {
            img {
              width: 100%;
            }
          }

          &Water {
            height: 311px;
            bottom: -240px;
            //left: -40px;
            left: 50%;
            margin-left: -250px;
          }

          &IceBig {
            height: 122px;
            bottom: -60px;
            //left: -10px;
            left: 50%;
            margin-left: -215px;
          }

          &IceLittle {
            height: 75px;
            bottom: -75px;
            //left: 6px;
            left: 50%;
            margin-left: -185px;
          }
        }

        &RightLeft {
          &Water, &IceBig, &IceLittle {
            img {
              width: 100%;
            }
          }

          &Water {
            display: none;
          }

          &IceBig {
            height: 72px;
            bottom: -391px;
            right: 50%;
            margin-right: -80px;
            transform: rotate(-42deg);
          }

          &IceLittle {
            height: 50px;
            bottom: -403px;
            right: 50%;
            margin-right: -50px;
            transform: rotate(-20deg);
          }
        }

        &Right {
          &Bottel, &Water, &IceBig, &IceLittle, &IceMiddleTop, &IceMiddleBottom1, &IceMiddleBottom2 {
            img {
              width: 100%;
            }
          }

          &Water {
            display: block;
          }

          &Bottel {
            height: 350px;
            bottom: -380px;
            right: 50%;
            margin-right: -50px;
          }

          &Water {
            transform: rotate(15deg);
            height: 614px;
            top: 211px;
            right: 50%;
            margin-right: -200px;
          }

          &IceBig, &IceLittle, &IceMiddleTop, &IceMiddleBottom1, &IceMiddleBottom2 {
            display: none;
          }
        }
      }

      &Wrapper {
        padding: 64px 0 480px;
      }

      &Title {
        font-size: 28px;
        line-height: 36px;
        text-align: center;
      }

      &SubTitle {
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;

      }

      &Text {
        max-width: 850px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
      }

      &Btn {
        display: flex;
        justify-content: center;
        margin-top: 29px;
      }


    }
    &__fan {
      &Title {
        text-align: center;
      }
    }
  }

  @media (max-width: $md3 + px) {
    //max-width: none;
    &__main {

      &Content {
        &Title {
          font-size: 28px;
          line-height: 35px;
        }

        &Text {
          margin-top: 14px;
          margin-bottom: 32px;
          font-size: 16px;
          line-height: 21px;
        }

      }
    }
    &__orderNow {
      &Content {
        max-width: none;
      }

      &Wrapper {
        padding-bottom: 450px;
      }
    }
    &__tryNow {
      //max-width: 725px;

      &Content {
        //max-width: 725px;
      }

      &BgAbsolute {

        &Left {

          &Water {
            margin-left: -200px;
          }

          &IceBig {
            margin-left: -165px;
          }

          &IceLittle {
            margin-left: -135px;
          }
        }

        &Right {
          &Water {
            height: 460px;
            top: 373px;
            right: 50%;
            margin-right: -119px;
          }

        }
      }


    }
    &__consultation {

      &BgImg {
        left: 50%;
        margin-left: -180px;

        img {
          object-fit: cover;
        }
      }

      &Item {
        padding: 5px 12px;
      }
    }
  }

}