.main {
  padding-bottom: 65px;
  z-index: 1;

  .goBack {
    max-width: 1790px;
    margin: 0 auto;
    padding: 50px 0 40px;

    font-size: 21px;
    font-weight: 800;
    line-height: 27px;

    &__link {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }

  @media (max-width: $md2 + px) {
    position: relative;
    padding: 46px 0 0 0;
    .goBack {
      position: absolute;
      top: -45px;
      left: 29px;
      z-index: 10;
      padding: 0;
      font-size: 12px;
      line-height: 15px;

      img {
        height: 8px;
      }
    }

  }
  @media (max-width: $md3 + px) {
    padding: 0;
  }
}
