.category {
  &__list {
    display: flex;
    align-items: start;
    gap: 70px;
  }

  &__item {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $green;
  }

  &__img {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    line-height: 33px;
    text-align: center;
  }

  &__text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }

}

.accordion {
  width: 100%;
  padding-bottom: 17px;
  border-bottom: 2px solid $black;

  &__checkbox {
    display: none;
  }

  &__trigger {
    position: relative;
    padding: 23px 0 13px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;

    &:before, &:after {
      position: absolute;
      top: 6px;
      font-size: 54px;
      font-weight: 800;
      line-height: 69px;
    }

    &:before {
      content: "+";
      right: 6px;

    }

    &:after {
      content: "-";
      right: 12px;

      display: none;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;

    font-size: 24px;
    font-weight: 600;
    line-height: 30px;

    ul li {
      padding-left: 9px;
      list-style: inside;
      margin-bottom: 9px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__checkbox:checked + .accordion__trigger + .accordion__content {
    max-height: 100%; /* Число большое, чтобы убедиться, что контент полностью раскрыт */
  }

  &__checkbox:checked + .accordion__trigger {
    &:before {
      display: none;
    }

    &:after {
      display: block;
    }
  }

}

@media (max-width: $md1 + px) {
  //max-width: 985px;
  .category {
  }
}

@media (max-width: $md2 + px) {
  //max-width: 750px;
  .category {
  }
}


@media (max-width: $md3 + px) {
  //max-width: none;
  .category {
  }
  .accordion {
    margin-top: 16px;
    padding: 0 0 12px 0;
    border-bottom: 1px solid $black;

    &__trigger {
      padding: 8px 0;
      font-size: 15px;
      line-height: 19px;

      &:before, &:after {
        top: 1px;
        font-size: 27px;
        line-height: 35px;
      }

      &:before {
        content: "+";
        right: 6px;

      }

      &:after {
        content: "-";
        right: 12px;

        display: none;
      }
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      font-size: 12px;
      line-height: 15px;

      ul li {
        margin-bottom: 5px;
      }
    }

  }
}
