.category {
  &__list {
    display: flex;
    align-items: start;
    gap: 70px;
  }

  &__item {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $green;
  }

  &__img {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    line-height: 33px;
    text-align: center;
  }

  &__text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }

}

.accordion {
  padding-bottom: 7px;
  border-bottom: 2px solid $black;

  &.active {
    .accordion__iconPlus {
      display: none;
    }

    .accordion__iconMinus {
      display: block;
    }

    .accordion__content {
      height: 100%;
      //overflow: hidden;
    }
  }

  &__trigger {
    padding: 23px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
  }

  &__icon {
    font-size: 54px;
    font-weight: 800;
    line-height: 69px;

    &Minus {
      display: none;
    }

  }

  &__content {
    height: 0;
    overflow: hidden;

    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    ul li{
      padding-left: 9px;
      list-style: inside;
      margin-bottom: 9px;
      &:last-child{
      margin-bottom: 0;
    }
    }
  }
}

@media (max-width: $md1 + px) {
  //max-width: 985px;
  .category {

  }
}

@media (max-width: $md2 + px) {
  //max-width: 750px;
  .category {

  }
}


@media (max-width: $md3 + px) {
  //max-width: none;
  .category {


  }
}
