.produce {
  &__nav {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;

    &List {
      display: flex;
      gap: 25px;
    }

    &Item {
      background-color: $white;
      color: $green;
      width: 244px;
      padding: 10px 0;
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-size: 16px;
      font-weight: 600;
      line-height: 20px;


      &Detox,
      &Morning,
      &All {
        width: 52px;
        height: 52px;
      }

      &Detox {
        background-image: url("../../img/produse/icon_detox_green.svg");
      }

      &Morning {
        background-image: url("../../img/produse/icon_morning_green.svg");
      }

      &All {
        background-image: url("../../img/produse/icon_all_green.svg");
      }

      &:hover,
      &.active {
        background-color: $green;
        color: $white;

        .produce__navItemDetox {
          background-image: url("../../img/produse/icon_detox.svg");
        }

        .produce__navItemMorning {
          background-image: url("../../img/produse/icon_morning.svg");
        }

        .produce__navItemAll {
          background-image: url("../../img/produse/icon_all.svg");
        }
      }
    }
  }

  &__content {
    margin-top: 90px;
    position: relative;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
  }

  &__card {
    position: relative;
    z-index: 10;
    padding: 0 30px 30px;
    border-radius: 5px;
    overflow: hidden;

    &HoverAnimate {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $green;
      border-radius: 5px;
      transition: 0.3s;
      transform: translateY(+101%);
      z-index: -1;

      &Block {
        padding: 0 30px 30px;
        color: $white;

        &List {
          margin-top: 66px;
          display: flex;
          flex-direction: column;
          gap: 8px;

          li {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;

          }
        }
      }

    }

    &:hover {
      .produce__cardHoverAnimate {
        transform: translateY(0);
      }

      .produce__cardImg {
        border-bottom: 2px solid $white;

        img {
          opacity: 0;
        }
      }

      .produce__cardTitle {
        color: $white;
      }

      .produce__cardText {
        color: $white;
      }

      .produce__cardTabs {
        opacity: 1;
        z-index: 11;
      }

    }

    &Img {
      height: 447px;
      display: flex;
      justify-content: center;

      img {
        object-fit: cover;
      }
    }

    &Title {
      margin-top: 26px;
      font-size: 30px;
      font-weight: 800;
      line-height: 38px;
    }


    &Text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 13px;
      font-size: 30px;
      font-weight: 600;
      line-height: 38px;
    }

    &Tabs {
      margin-top: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      opacity: 0;
      z-index: -1;
    }

    &Buttons {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &Wrapper {
      position: relative;
      width: 480px;

      &White {
        background-color: $white;
        position: absolute;
        top: 27%;
        left: 0;
        border-radius: 5px;
        width: 100%;
        height: 73%;
      }
    }
  }

  &View {
    display: flex;
    gap: 100px;

    &__img {
      width: 674px;
      height: 667px;
      flex-basis: 674px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__content {
      padding: 40px 24px;
    }

    &__subTitle {
      font-size: 30px;
      font-weight: 800;
      line-height: 38px;
    }

    &__title {
      font-size: 50px;
      font-weight: 800;
      line-height: 64px;
      flex-basis: 235px;

      &Block {
        display: flex;
        justify-content: space-between;
      }

      &Price {
        font-size: 36px;
        font-weight: 800;
        line-height: 46px;
        color: $green;

        span {
          font-size: 54px;
          font-weight: 800;
          line-height: 69px;

        }
      }
    }

    &__reviews {
      margin-top: 6px;

      &Title {
        display: flex;
        gap: 15px;
      }

      &Stars {
        display: flex;
        gap: 3.5px;
        margin-bottom: 15px;
      }

      &Text {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
      }
    }

    &__days {
      margin-top: 55px;

      &List {
        margin-top: 15px;
        padding-left: 35px;
        display: flex;
        gap: 45px;
      }

      &Item {
        cursor: pointer;
        width: 117px;
        padding: 38px 0 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        background-color: $grey;
        border-radius: 10px;

        &.active, &:hover {
          background-color: $yellow;
        }
      }

      &Text {
        font-size: 24px;
        font-weight: 800;
        line-height: 30px;

      }

    }

    &__add {
      margin-top: 95px;
      display: flex;
      gap: 25px;

      &Counter {

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding: 17px 23px;
        border-radius: 10px;
        background-color: $grey;

        &Text {
          font-size: 50px;
          font-weight: 800;
          line-height: 64px;

        }

        &Btn {
          font-size: 40px;
          font-weight: 600;
          line-height: 51px;
          color: #6A6A6A;

        }
      }

      &Btn {
        flex-grow: 1;
        //width: 100%;
        &.btn {
          font-size: 25px;
          font-weight: 800;
          line-height: 32px;
        }
      }
    }

    &__daysConsist {
      margin-top: 45px;

      &List {
        margin-top: 37px;
        display: flex;
        flex-direction: column;
        gap: 13px;
      }

      &Item {
        display: flex;
        align-items: center;
        gap: 14px;
      }

      &Img {
        cursor: pointer;
        width: 117px;
        height: 174px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $grey;
        border-radius: 10px;
      }

      &Text {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;

      }

    }

    &__hrBold {
      margin: 40px 0 20px;
      width: 100%;
      height: 6px;
      background-color: $black;
    }

    &__delivery {
      margin-top: 25px;

      &List {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 22px;
      }

      &Item {
        display: flex;
        gap: 28px;

        &Title {
          font-size: 25px;
          font-weight: 800;
          line-height: 32px;

        }

        &Text {
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;

        }
      }

      &Img {
        width: 70px;
        display: flex;
        justify-content: flex-end;
      }
    }

    &__storage {
      margin-top: 50px;

      &List {
        margin-top: 32px;
        display: flex;
        gap: 15px;
        flex-direction: column;
      }

      &Item {
        display: flex;
        align-items: center;
        gap: 34px;
        padding: 10px;
        border-radius: 10px;
        background-color: $grey;

        &.active, &:hover {
          background-color: $yellow;
        }
      }

      &Text {
        font-size: 25px;
        font-weight: 800;
        line-height: 32px;

      }
    }
  }
}

@media (max-width: $md1 + px) {
  //max-width: 985px;
  .produce {
    &__content {
      justify-content: center;
      gap: 8px;
    }

    &__card {
      &Wrapper {
        position: relative;
        width: 470px;
      }

    }

    &View {
      //display: flex;
      flex-wrap: wrap;
      gap: 80px;

      &__img {
        width: 674px;
        height: 667px;
        flex-basis: 674px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &__content {
        padding: 20px 12px;
      }

      &__subTitle {
        font-size: 30px;
        font-weight: 800;
        line-height: 38px;
      }

      &__title {
        font-size: 50px;
        font-weight: 800;
        line-height: 64px;
        flex-basis: 235px;

        &Block {
          display: flex;
          justify-content: space-between;
        }

        &Price {
          font-size: 36px;
          font-weight: 800;
          line-height: 46px;
          color: $green;

          span {
            font-size: 54px;
            font-weight: 800;
            line-height: 69px;

          }
        }
      }

      &__reviews {
        margin-top: 6px;

        &Title {
          display: flex;
          gap: 15px;
        }

        &Stars {
          display: flex;
          gap: 3.5px;
          margin-bottom: 15px;
        }

        &Text {
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
        }
      }

      &__days {
        margin-top: 55px;

        &List {
          margin-top: 15px;
          padding-left: 35px;
          display: flex;
          gap: 45px;
        }

        &Item {
          cursor: pointer;
          width: 117px;
          padding: 38px 0 2px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 6px;
          background-color: $grey;
          border-radius: 10px;

          &.active, &:hover {
            background-color: $yellow;
          }
        }

        &Text {
          font-size: 24px;
          font-weight: 800;
          line-height: 30px;

        }

      }

      &__add {
        margin-top: 95px;
        display: flex;
        gap: 25px;

        &Counter {

          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 50px;
          padding: 17px 23px;
          border-radius: 10px;
          background-color: $grey;

          &Text {
            font-size: 50px;
            font-weight: 800;
            line-height: 64px;

          }

          &Btn {
            font-size: 40px;
            font-weight: 600;
            line-height: 51px;
            color: #6A6A6A;

          }
        }

        &Btn {
          flex-grow: 1;
          //width: 100%;
          &.btn {
            font-size: 25px;
            font-weight: 800;
            line-height: 32px;
          }
        }
      }

      &__daysConsist {
        margin-top: 45px;

        &List {
          margin-top: 37px;
          display: flex;
          flex-direction: column;
          gap: 13px;
        }

        &Item {
          display: flex;
          align-items: center;
          gap: 14px;
        }

        &Img {
          cursor: pointer;
          width: 117px;
          height: 174px;
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $grey;
          border-radius: 10px;
        }

        &Text {
          font-size: 28px;
          font-weight: 600;
          line-height: 36px;

        }

      }

      &__hrBold {
        margin: 40px 0 20px;
        width: 100%;
        height: 6px;
        background-color: $black;
      }

      &__delivery {
        margin-top: 25px;

        &List {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 22px;
        }

        &Item {
          display: flex;
          gap: 28px;

          &Title {
            font-size: 25px;
            font-weight: 800;
            line-height: 32px;

          }

          &Text {
            font-size: 24px;
            font-weight: 600;
            line-height: 30px;

          }
        }

        &Img {
          width: 70px;
          display: flex;
          justify-content: flex-end;
        }
      }

      &__storage {
        margin-top: 50px;

        &List {
          margin-top: 32px;
          display: flex;
          gap: 15px;
          flex-direction: column;
        }

        &Item {
          display: flex;
          align-items: center;
          gap: 34px;
          padding: 10px;
          border-radius: 10px;
          background-color: $grey;

          &.active, &:hover {
            background-color: $yellow;
          }
        }

        &Text {
          font-size: 25px;
          font-weight: 800;
          line-height: 32px;

        }
      }
    }
  }
}

@media (max-width: $md2 + px) {
  //max-width: 750px;
  .produce {
    &__card {

      padding: 0 8px 8px;

      &HoverAnimate {

        &Block {
          padding: 0 8px 8px;

          &List {
            margin-top: 20px;
            gap: 4px;

            li {
              gap: 10px;
              font-size: 8px;
              line-height: 10px;
            }
          }
        }
      }

      &Img {
        height: 167px;
      }

      &Title {
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
      }

      &Text {
        margin-top: 3px;
        font-size: 12px;
        line-height: 14px;
      }

      &Tabs {
        display: none;
      }

      &Buttons {
        button {
          font-size: 7px;
          font-weight: 800;
          line-height: 10px;
          padding: 5.5px 10px;
        }
      }

      &Wrapper {
        width: 176px;
      }
    }
  }
}


@media (max-width: $md3 + px) {
  //max-width: none;
  .produse {


  }
}
