.produce {
  &__nav {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;

    &List {
      display: flex;
      gap: 25px;
    }

    &Item {
      background-color: $white;
      color: $green;
      width: 244px;
      padding: 10px 0;
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-size: 16px;
      font-weight: 600;
      line-height: 20px;


      &Detox,
      &Morning,
      &Supplement,
      &All {
        width: 52px;
        height: 52px;
      }

      &Detox {
        background-image: url("../../img/produse/icon_detox_green.svg");
      }

      &Morning {
        background-image: url("../../img/produse/icon_morning_green.svg");
      }

      &Supplement {
        background-image: url("../../img/produse/suplement_green.svg");
      }

      &All {
        background-image: url("../../img/produse/icon_all_green.svg");
      }

      &:hover,
      &.active {
        background-color: $green;
        color: $white;

        .produce__navItemDetox {
          background-image: url("../../img/produse/icon_detox.svg");
        }

        .produce__navItemMorning {
          background-image: url("../../img/produse/icon_morning.svg");
        }

        .produce__navItemSupplement {
          background-image: url("../../img/produse/suplement.svg");
        }

        .produce__navItemAll {
          background-image: url("../../img/produse/icon_all.svg");
        }
      }
    }

    &ItemFoods {
      background-color: $white;
      color: $green;
      width: 244px;
      padding: 10px 0;
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-size: 16px;
      font-weight: 600;
      line-height: 20px;


      &Drinks,
      &Food,
      &All {
        width: 52px;
        height: 52px;
      }

      &Drinks {
        background-image: url("../../img/shop-all/drinks_green.svg");
        background-repeat: no-repeat;
      }

      &Food {
        background-image: url("../../img/shop-all/food_green.svg");
        background-repeat: no-repeat;
      }

      &All {
        background-image: url("../../img/shop-all/icon_all_green.svg");
        background-repeat: no-repeat;
      }

      &:hover,
      &.active {
        background-color: $green;
        color: $white;

        .produce__navItemFoodsDrinks {
          background-image: url("../../img/shop-all/drinks.svg");

        }

        .produce__navItemFoodsFood {
          background-image: url("../../img/shop-all/food.svg");

        }

        .produce__navItemFoodsAll {
          background-image: url("../../img/shop-all/icon_all.svg");

        }
      }
    }
  }

  &__content {
    margin-top: 90px;
    position: relative;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;

    &ViewAll {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 95px;

      .btn {
        width: 268px;
        text-align: center;
        padding: 15px;
        background-color: $black;
        border: 2px solid $black;
        color: $white;
        border-radius: 5px;
        font-family: $Inter;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;

        &:hover {
          background-color: $white;
          color: $black;
        }
      }
    }
  }

  &__card {
    position: relative;
    z-index: 10;
    padding: 0 30px 30px;
    border-radius: 5px;
    overflow: hidden;

    &HoverAnimate {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $green;
      border-radius: 5px;
      transition: 0.5s;
      transform: translateY(+101%);
      z-index: -1;

      &Block {
        padding: 0 30px 30px;
        color: $white;

        &List {
          margin-top: 66px;
          display: flex;
          flex-direction: column;
          gap: 8px;

          li {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;

          }
        }
      }

    }

    &:hover {
      .produce__cardHoverAnimate {
        transform: translateY(0);
      }

      .produce__cardImg {
        border-bottom: 2px solid $white;

        img {
          opacity: 0;
        }
      }

      .produce__cardTitle {
        color: $white;
      }

      .produce__cardText {
        color: $white;
      }

      .produce__cardTabs {
        opacity: 1;
        z-index: 11;

      }

    }

    &Img {
      height: 447px;
      display: flex;
      justify-content: center;

      img {
        max-width: 100%;
        object-fit: contain;
      }
    }

    &Title {
      margin-top: 26px;
      font-size: 30px;
      font-weight: 800;
      line-height: 38px;
    }


    &Text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 13px;
      font-size: 30px;
      font-weight: 600;
      line-height: 38px;
    }

    &Tabs {
      margin-top: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      opacity: 0;
      z-index: -1;


      /* Стили для самой радиокнопки */
      .radio-input {
        display: none; /* Скрыть сам input */
      }

      /* Внешний вид фоновой области радиокнопки */
      .radio-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 88px;
        font-size: 31px;
        font-weight: 800;
        line-height: 39px;
        background-color: #2A794D;
        color: $white;
      }

      /* Псевдоэлемент активного состояния для внутреннего кружка */
      .radio-input:checked + .radio-label {
        background-color: $white;
        color: $green;
      }
    }

    &Buttons {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &Wrapper {
      position: relative;
      width: 480px;

      &White {
        background-color: $white;
        position: absolute;
        top: 27%;
        left: 0;
        border-radius: 5px;
        width: 100%;
        height: 73%;
      }
    }
  }

  &View {
    display: flex;
    gap: 100px;


    &__img {
      position: relative;
      width: 674px;
      height: 667px;
      flex-basis: 674px;
      flex-shrink: 0;
      z-index: 10;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &Bg {
        position: absolute;
        bottom: -130px;
        left: -28px;
        z-index: -1;
        background-color: $white;
        width: 730px;
        height: 550px;
        border-radius: 10px;
      }
    }

    &__content {
      padding: 40px 24px;
      border-radius: 10px;
      background-color: $white;
    }

    &__subTitle {
      font-size: 30px;
      font-weight: 800;
      line-height: 38px;
    }

    &__title {
      font-size: 50px;
      font-weight: 800;
      line-height: 64px;
      flex-basis: 235px;

      &Block {
        display: flex;
        justify-content: space-between;
      }

      &Price {
        font-size: 36px;
        font-weight: 800;
        line-height: 46px;
        color: $green;

        span {
          font-size: 54px;
          font-weight: 800;
          line-height: 69px;

        }
      }
    }

    &__reviews {
      margin-top: 6px;

      &Title {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

      }

      &Stars {
        display: flex;
        gap: 3.5px;
      }

      &Text {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
      }
    }

    &__days {
      margin-top: 55px;

      &List {
        margin-top: 15px;
        padding-left: 35px;
        display: flex;
        gap: 45px;
      }

      &Item {
        cursor: pointer;
        width: 117px;
        padding: 38px 0 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        background-color: $grey;
        border-radius: 10px;

        &.active, &:hover {
          background-color: $yellow;
        }
      }

      &Text {
        font-size: 24px;
        font-weight: 800;
        line-height: 30px;

      }

    }

    &__foods {
      margin-top: 22px;

      &List {
        display: flex;
        gap: 7px;
        margin-top: 15px;
      }

      &Item {
        padding: 15px 0;
        width: 167px;
        height: 376px;
        border-radius: 10px;


        &:hover, &.active {
          background-color: $yellow;

          .produceView__foodsImg {
            background-color: $green;
          }
        }
      }

      &Title {
        font-size: 20px;
        font-weight: 800;
        line-height: 26px;
        text-align: center;
      }

      &Price {
        margin-top: 8px;
        font-size: 24px;
        font-weight: 800;
        line-height: 30px;
        text-align: center;
      }

      &Text {
        margin-top: 8px;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
      }

      &Img {
        margin: 24px auto 0;
        text-align: center;
        width: 114px;
        height: 114px;
        background-color: $bg-grey;
        border-radius: 50%;
        overflow: hidden;

        img {
          max-width: 100%;
          object-fit: cover;
        }
      }


    }

    &__add {
      margin-top: 95px;
      display: flex;
      gap: 25px;

      &Counter {

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding: 17px 15px 10px;
        border-radius: 10px;
        background-color: $grey;

        &Text {
          font-size: 50px;
          font-weight: 800;
          line-height: 64px;

        }

        &Btn {
          font-size: 40px;
          font-weight: 600;
          line-height: 51px;
          color: #6A6A6A;

        }
      }

      &Btn {
        flex-grow: 1;
        //width: 100%;
        &.btn {
          font-size: 25px;
          font-weight: 800;
          line-height: 32px;
        }
      }
    }

    &__daysConsist {
      margin-top: 45px;

      &List {
        margin-top: 37px;
        display: flex;
        flex-direction: column;
        gap: 13px;
      }

      &Item {
        display: flex;
        align-items: center;
        gap: 14px;
      }

      &Img {
        cursor: pointer;
        width: 117px;
        height: 174px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $grey;
        border-radius: 10px;
      }

      &Text {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;

      }

    }

    &__hrBold {
      margin: 40px 0 20px;
      width: 100%;
      height: 6px;
      background-color: $black;
    }

    &__delivery {
      margin-top: 79px;

      &List {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 22px;
      }

      &Item {
        display: flex;
        gap: 28px;

        &Title {
          font-size: 25px;
          font-weight: 800;
          line-height: 32px;

        }

        &Text {
          margin-top: 10px;
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;

        }
      }

      &Img {
        width: 70px;
        display: flex;
        justify-content: flex-end;
      }
    }

    &__storage {
      margin-top: 60px;

      &List {
        margin-top: 32px;
        display: flex;
        gap: 15px;
        flex-direction: column;
      }

      &Item {
        display: flex;
        align-items: center;
        gap: 34px;
        padding: 10px;
        border-radius: 10px;
        background-color: $grey;

        &.active, &:hover {
          background-color: $yellow;
        }
      }

      &Text {
        font-size: 25px;
        font-weight: 800;
        line-height: 32px;

      }
    }
  }
}

@media (max-width: $md1 + px) {
  //max-width: 985px;
  .produce {
    &__content {
      justify-content: center;
      gap: 8px;
    }

    &__card {
      &Wrapper {
        position: relative;
        width: 470px;
      }

    }

    &View {
      flex-wrap: wrap;
      gap: 144px;
      justify-content: center;

      &__content {
        padding: 20px 12px;
      }
    }
  }
}

@media (max-width: $md2 + px) {
  //max-width: 750px;
  .produce {

    &__nav {
      margin-top: 45px;

      &List {
        gap: 15px;
      }

      &Item {
        width: 122px;
        padding: 5px 0;
        border-radius: 5px;


        font-size: 10px;
        line-height: 12px;


        &Detox,
        &Morning,
        &Supplement,
        &All {
          width: 26px;
          height: 26px;
        }

        &Detox {
          background-image: url("../../img/produse/icon_detox_green.svg");
          background-size: contain;
        }

        &Morning {
          background-image: url("../../img/produse/icon_morning_green.svg");
          background-size: contain;
        }

        &Supplement {
          background-image: url("../../img/produse/suplement_green.svg");
          background-size: contain;
        }

        &All {
          background-image: url("../../img/produse/icon_all_green.svg");
          background-size: contain;
        }

      }

      &ItemFoods {
        width: 122px;
        padding: 5px 0;
        border-radius: 5px;


        font-size: 10px;
        line-height: 12px;


        &Drinks,
        &Food,
        &All {
          width: 26px;
          height: 26px;

        }

        &Drinks {
          background-image: url("../../img/shop-all/drinks_green.svg");
          background-repeat: no-repeat;
          background-size: contain;
        }

        &Food {
          background-image: url("../../img/shop-all/food_green.svg");
          background-repeat: no-repeat;
          background-size: contain;
        }

        &All {
          background-image: url("../../img/shop-all/icon_all_green.svg");
          background-repeat: no-repeat;
          background-size: contain;
        }

      }
    }

    &__card {

      padding: 0 8px 8px;

      &HoverAnimate {

        &Block {
          padding: 0 8px 8px;

          &List {
            margin-top: 20px;
            gap: 4px;

            li {
              gap: 10px;
              font-size: 8px;
              line-height: 10px;
            }
          }
        }
      }

      &Img {
        height: 167px;
      }

      &Title {
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
      }

      &Text {
        margin-top: 3px;
        font-size: 12px;
        line-height: 14px;
      }

      &Tabs {

        opacity: 1;
        /* Внешний вид фоновой области радиокнопки */
        .radio-label {
          width: 38px;
          font-size: 21px;
          font-weight: 800;
          line-height: 25px;
        }

      }

      &Buttons {
        button {
          font-size: 7px;
          font-weight: 800;
          line-height: 10px;
          padding: 5.5px 10px;
        }
      }

      &Wrapper {
        width: 176px;
      }
    }

  }
}


@media (max-width: $md3 + px) {
  .tabs__wrapper {
    width: 100%;
  }
  //max-width: none;
  .produce {
    &__nav {
      margin-top: 37px;

      &List {
        gap: 10px;
      }

      &Item {
        width: 77px;
      }

      &ItemFoods {
        width: 77px;
      }
    }

    &__content {

      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;
      align-items: center;

      &ViewAll {
        margin-top: 45px;

        .btn {
          padding: 10px;
          border: 1px solid $black;
          font-size: 12px;
          line-height: 14px;

        }
      }
    }

    &View {
      display: block;

      &__img {
        width: 337px;
        height: 333px;
        margin: 0 auto;

        &Bg {
          bottom: -65px;
          left: -14px;
          width: 365px;
          height: 275px;
          border-radius: 5px;
        }
      }

      &__content {
        margin-top: 100px;
        padding: 20px 12px 30px;
        border-radius: 5px;
      }

      &__subTitle {
        font-size: 15px;
        line-height: 20px;
      }

      &__title {
        font-size: 25px;
        line-height: 32px;
        flex-basis: 120px;

        &Price {
          font-size: 18.2px;
          line-height: 23.26px;

          span {
            font-size: 27px;
            line-height: 35px;
          }
        }
      }

      &__reviews {
        margin-top: 6px;

        &Title {
          margin-bottom: 10px;
        }

        &Stars {
          &Img {
            width: 14px;

            img {
              width: 100%;
            }
          }
        }

        &Text {
          font-size: 12px;
          line-height: 15px;
        }
      }

      &__days {
        margin-top: 30px;

        &List {
          margin-top: 12px;
          padding-left: 24px;
          gap: 22px;
        }

        &Item {
          cursor: pointer;
          width: 58px;
          padding: 19px 0 2px;
          gap: 3px;
          border-radius: 5px;

        }

        &Img {
          width: 16px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        &Text {
          font-size: 12px;
          line-height: 15px;
        }

      }

      &__add {
        margin-top: 45px;
        gap: 12.5px;

        &Counter {
          gap: 25px;
          padding: 8px;

          &Text {
            font-size: 25px;
            line-height: 32px;
          }

          &Btn {
            font-size: 20px;
            line-height: 25px;
          }
        }

        &Btn {
          &.btn {
            font-size: 12.5px;
            line-height: 16px;
          }
        }
      }

      &__daysConsist {
        margin-top: 22.5px;

        &List {
          margin-top: 18.5px;
          gap: 7px;
        }

        &Item {
          display: flex;
          align-items: center;
          gap: 7px;
        }

        &Img {
          cursor: pointer;
          width: 58px;
          height: 88px;
          border-radius: 5px;

          img {
            width: 15.65px;
            height: 57.62px;
          }
        }

        &Text {
          font-size: 14px;
          line-height: 18px;

        }

      }

      &__hrBold {
        margin: 20px 0 10px;
        height: 3px;
      }

      &__delivery {
        margin-top: 39px;

        &List {
          margin-top: 10px;
          gap: 12px;
        }

        &Item {
          gap: 14px;

          &Title {
            font-size: 12.5px;
            line-height: 16px;

          }

          &Text {
            margin-top: 5px;
            font-size: 12px;
            line-height: 16px;

          }
        }

        &Img {
          width: 35px;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          img {
            width: 80%;
          }
        }
      }

      &__storage {
        margin-top: 30px;

        &List {
          margin-top: 16px;
          gap: 8px;
        }

        &Item {
          //display: flex;
          //align-items: center;
          gap: 17px;
          padding: 5px;
          border-radius: 5px;
          //background-color: $grey;

          //&.active, &:hover {
          //  background-color: $yellow;
          //}
        }

        &Img {
          width: 35px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        &Text {
          font-size: 12.5px;
          //font-weight: 800;
          line-height: 16px;

        }
      }
    }

  }
}

@media (max-width: 382px) {
  .produce {
    &View {
      &__img {
        width: 300px;
        height: 300px;

        &Bg {
          left: -10px;
          width: 320px;
        }
      }
    }
  }
}
